<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Categoty:</strong>
  <%= @product.categoty %>
</p>

<p>
  <strong>Date:</strong>
  <%= @product.date %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.Price %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
